@font-face {
    font-family: "AntonSC";
    src: url(../assets/fonts/AntonSC.ttf);
}

@font-face {
    font-family: "Freeman";
    src: url(../assets/fonts/Freeman.ttf);
}

html {
    scroll-behavior: smooth;
  }

* {
    box-sizing: border-box;
}

body {
    font-family: "Freeman";
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-list {
    background: #042d6b;
    padding: 8px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  .nav-item {
    padding: 28px;
    font-size: 20px;
  }

  .nav-link {
    transition: 0.1s;
    text-decoration: none;
    color: #dbdbdb;
  }

  a.nav-link:hover,
  a.nav-link:active {
    border-bottom: 4px solid #dbdbdb;
  }