*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  max-width: 1024px;
  min-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  font-size: 18px;
  font-family: "Montseratt", sans-serif;
  background-color: #e6e2d4;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.cv {
  max-width: 1024px;
  min-width: 600px;
  margin: auto;
  border: black solid 1px;
  box-shadow: 1px 81px 100px 5px rgba(0, 0, 0, 0.363);
  display: flex;
  border-radius: 20px
}

.about-left {
  padding: 16px;
  width: 35%;
  color: #ffffff;
  background-color: #2C6D54;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  border-radius: 20px;
}

.avatar {
  width: 100%;
}

.avatar img {
  width: 100%;
  aspect-ratio: 1 / 1;
  box-shadow: 5px 6px 32px 1px rgba(0, 0, 0, 0.49);
  object-fit: cover;
  object-position: top right;
  border-radius: 20px;
}

.contacts {
  width: 100%;
}

.title {
  font-size: 32px;
  margin: 1rem 0;
}

.list li {
  margin-top: 1rem;
}

.rsschool-logo {
  width: 100%;
  height: 65px;
  margin-top: 2rem;
  background-image: url(icons/rs-school-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

/* Right section */

.about-right {
  width: 65%;
  color: #2C6D54;
  padding: 1rem;
}

.self-intro {
  margin-bottom: 3rem;
}

h1 {
  font-size: 44px;
  margin: 1rem 0;
}

h5 {
  margin-bottom: 1rem;
  font-size: 22px;
}

.underline {
  width: 100%;
  height: 2px;
  background-color: #2C6D54;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.education-list-el {
  border-top: 2px solid #2C6D54;
  padding: 1rem 0;
  font-size: 20px;
  font-weight: 600;
}

.work-examples {
  font-size: 20px;
  font-weight: 600;
}

/* footer */

.footer {
  width: 100%;
}

.footer-nav {
  width: 100%;
}

.footer-nav-list {
  width: 100%;
  padding: 0 2rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.github-link img {
  width: 20%;
  align-content: center;
}

.course-link img {
  width: 20%;
  align-content: center;
}

.year span {
  width: 20%;
  color: black;
  font-size: 24px;
  font-weight: 600;
}